# Edit this for your local setup and save to .env
# Local Data Paths
PROJECT_HOME="YOUR_LOCAL_WORKSPACE_HOME"
CENSUS_CSV_PATH=botsabelo_census_v2.csv
LOCAL_TMP_DIR="tb_dataset_tmp"

# Google Cloud Configuration
GCP_BUCKET_NAME="YOUR_BUCKET_NAME"
GCP_KEY_PATH="FULL_PATH_TO_YOUR_GCP_KEY_JSON_FILE"
GCP_PROJECT_ID="YOUR_GCP_PROJECT_ID"

# Kaggle config
# Defaults to ~/.kaggle
#KAGGLE_CONFIG_DIR="PATH_TO_YOUR_KAGGLE_KEY_FILE_DIR"

# Demo configuration
OPENMRS_URL="http://localhost:8080/openmrs"
OPENMRS_USER="admin"
OPENMRS_PASSWORD="Admin123"
