# Automaticaly generated, dont edit manually.
# Generated on: 2026-07-07 00:05
global
	maxconn			1000
	stats socket /tmp/haproxy.socket level admin  expose-fd listeners
	uid			80
	gid			80
	nbthread			1
	hard-stop-after		15m
	chroot				/tmp/haproxy_chroot
	daemon
	server-state-file /tmp/haproxy_server_state

listen HAProxyLocalStats
	bind 127.0.0.1:2200 name localstats
	mode http
	stats enable
	stats admin if TRUE
	stats show-legends
	stats uri /haproxy/haproxy_stats.php?haproxystats=1
	timeout client 5000
	timeout connect 5000
	timeout server 5000

frontend HA_Frontend
	bind			68.116.51.146:443 name 68.116.51.146:443   ssl crt-list /var/etc/haproxy/HA_Frontend.crt_list  
	mode			http
	log			global
	option			http-keep-alive
	timeout client		50000
	acl			is_ha	var(txn.txnhost) -m str -i ha.bipeds.org
	acl			aclcrt_HA_Frontend	var(txn.txnhost) -m reg -i ^(imladrislab\.org|.*\.imladrislab\.org)(:([0-9]){1,5})?$
	acl			is_imladris_landing	var(txn.txnhost) -m str -i imladrislab.org
	acl			is_imladris_openmrs	var(txn.txnhost) -m str -i openmrs.imladrislab.org
	acl			is_imladris_orthanc_m	var(txn.txnhost) -m str -i orthanc-m.imladrislab.org
	acl			is_imladris_orthanc_p	var(txn.txnhost) -m str -i orthanc-p.imladrislab.org
	acl			is_imladris_ohif	var(txn.txnhost) -m str -i ohif.imladrislab.org
	acl			is_imladris_console	var(txn.txnhost) -m str -i console.imladrislab.org
	acl			is_imladris_tools	var(txn.txnhost) -m str -i tools.imladrislab.org
	acl			aclcrt_HA_Frontend	var(txn.txnhost) -m reg -i ^ha\.bipeds\.org(:([0-9]){1,5})?$
	http-request set-var(txn.txnhost) hdr(host)
	use_backend HA_Server_ipvANY  if  is_ha aclcrt_HA_Frontend
	use_backend Imladris_Landing_ipvANY  if  is_imladris_landing aclcrt_HA_Frontend
	use_backend Imladris_OpenMRS_ipvANY  if  is_imladris_openmrs aclcrt_HA_Frontend
	use_backend Imladris_OrtMod_ipvANY  if  is_imladris_orthanc_m aclcrt_HA_Frontend
	use_backend Imladris_OrtPACS_ipvANY  if  is_imladris_orthanc_p aclcrt_HA_Frontend
	use_backend Imladris_OHIF_ipvANY  if  is_imladris_ohif aclcrt_HA_Frontend
	use_backend Imladris_Console_ipvANY  if  is_imladris_console aclcrt_HA_Frontend
	use_backend Imladris_Tools_ipvANY  if  is_imladris_tools aclcrt_HA_Frontend

backend HA_Server_ipvANY
	mode			http
	id			100
	log			global
	option			log-health-checks
	timeout connect		30000
	timeout server		50000
	retries			3
	load-server-state-from-file	global
	timeout connect 5s
	timeout server 50s
	timeout tunnel 1h
	server			ha 192.168.1.80:8123 id 101  

backend Imladris_Landing_ipvANY
	mode			http
	id			102
	log			global
	timeout connect		5000
	timeout server		30000
	retries			3
	load-server-state-from-file	global
	http-request set-header X-Forwarded-Proto https
	server			landing 192.168.1.10:8091 id 103  

backend Imladris_OpenMRS_ipvANY
	mode			http
	id			104
	log			global
	timeout connect		10000
	timeout server		120000
	retries			3
	load-server-state-from-file	global
	server			openmrs 192.168.1.10:8080 id 103  

backend Imladris_OrtMod_ipvANY
	mode			http
	id			105
	log			global
	timeout connect		10000
	timeout server		120000
	retries			3
	load-server-state-from-file	global
	server			ortmod 192.168.1.10:8042 id 103  

backend Imladris_OrtPACS_ipvANY
	mode			http
	id			106
	log			global
	timeout connect		10000
	timeout server		120000
	retries			3
	load-server-state-from-file	global
	http-response set-header Access-Control-Allow-Origin "*"
	http-response set-header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
	http-response set-header Access-Control-Allow-Headers "Authorization, Content-Type, Accept"
	http-response set-header Access-Control-Expose-Headers "Content-Length, Content-Range"
	http-request return status 204 hdr Access-Control-Allow-Origin "*" hdr Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS" hdr Access-Control-Allow-Headers "Authorization, Content-Type, Accept" hdr Access-Control-Expose-Headers "Content-Length, Content-Range" if { method OPTIONS }
	server			ortpacs 192.168.1.10:8044 id 103  

backend Imladris_OHIF_ipvANY
	mode			http
	id			107
	log			global
	timeout connect		10000
	timeout server		120000
	retries			3
	load-server-state-from-file	global
	server			ohif 192.168.1.10:3000 id 103  

backend Imladris_Console_ipvANY
	mode			http
	id			108
	log			global
	timeout connect		10000
	timeout server		120000
	retries			3
	load-server-state-from-file	global
	server			console 192.168.1.10:5001 id 103  

backend Imladris_Tools_ipvANY
	mode			http
	id			109
	log			global
	timeout connect		10000
	timeout server		120000
	retries			3
	load-server-state-from-file	global
	server			console 192.168.1.10:5002 id 103  


